.orange_button_h_36{
	display: block;
	height: 28px;
	float: left;
	background: url(/img/button/orange_button_repet.png) repeat-x left top;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
    font-weight: bold;
	color: #ffffff !important;
	text-decoration: none;
	padding: 8px 10px 0 10px;
	cursor: pointer;
}
.orange_button_h_44{
	display: block;
	height: 44px;
	float: left;
	background: url(/img/button/orange_button_h_44_repeat.png) repeat-x left top;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding: 0 15px 0 15px;
	cursor: pointer;
}
.grey_button_h_44{
	display: block;
	height: 44px;
	float: left;
	background: url(/img/button/grey_button_h_44_repeat.png) repeat-x left top;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding: 0 15px 0 15px;
	cursor: pointer;
}
.orange_button_h_144{
	display: block;
	height: 44px;
	float: left;
	background: url(/img/button/orange_button_h_44_repeat.png) repeat-x left top;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	padding: 0 15px 0 15px;
	cursor: pointer;
}
.orange_button_h_145{
	display: block;
        height: 31px;
        /*float: left;*/
        background: url(/img/button/orange_button_repet.png) repeat-x left top;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            -o-border-radius: 5px;
            -ms-border-radius:5px;
            border-radius: 5px;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        padding: 0 10px;
	cursor: pointer;
}
.professor_rate_link .orange_button_h_145{
        display: block;
}
#left_content .validate_form .orange_button_h_145{ float:none;}
.main_page_orange_button{
	float: right;
	padding: 8px 10px 0px;
	font-weight: normal;
	height: 28px;
	font-size: 16px;
}
#left_content .main_page_orange_button {
	float: left;
}
.main_school_select{
	height: 55px;
	width: 630px;
	color:#444444;
	font-size: 18px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	background-color: #1c4e90;
	margin:0 0 15px 0;
	position: relative;
	overflow: hidden;
}
.go{
	display: block;
	float: left;
    width: 32px;
    height: 26px;
    background: url(/img/button/orange_button_repet.png) repeat-x left center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
    font-family: Arial;
	font-size: 16px;
	font-stretch:normal;
    color: #ffffff;
    text-align: center;
	cursor: pointer;
	padding: 0 0 0 0;
}
.go2{
	display: block;
    width: 38px;
	height: 27px;
    background: url(/img/button/orange_button_repet.png) repeat-x left center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	font-family: "HelveticaNeue-CondensedBold","Arial",sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
	cursor: pointer;
	padding: 0 0 2px 0;
    margin: 0 3px;
}
.email_submit{
    display: block;
    width:80px;
    height: 31px;
    float: left;
    background: url(/img/button/orange_button_repet.png) repeat-x left top;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius:5px;
	border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    padding: 0 0 0 0;
	cursor: pointer;
}
.grey_submit{
    display: block;
    width: 150px;
    height: 28px;
    background: url(/img/button/grey_button_repeat.png) repeat-x;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0 0 0;
    text-decoration: none;
}
.orange_submit{
    display: block;
    width: 150px;
    height: 28px;
    background: url(/img/button/orange_button_repet2.png) repeat-x;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0 0 0;
    text-decoration: none;
}
.light_blue_submit_long{
    display: block;
    width: 266px;
    height: 28px;
    background: url(/img/button/light_blue_button_repeat.png) repeat-x;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0 0 0;
    text-decoration: none;
}
.blue_submit{
    display: block;
    width: 150px;
    height: 28px;
    background: url(/img/button/blue_button_repeat.png) repeat-x;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0 0 0;
    text-decoration: none;
}
input.grey_submit, input.blue_submit, input.orange_submit{
    height: 38px;
    padding: 0;
}
.blue_submit_long{
    display: block;
    width: 266px;
    height: 28px;
    background: url(/img/button/blue_button_repeat.png) repeat-x;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 0 0 0;
    text-decoration: none;
}

.subscribe_form .email_submit{
	height: 33px;
}
.popup_form .orange_button_h_36{
	height: 36px;
	padding: 0 10px 0 10px;
	margin: 20px 10px 0 0;
	cursor: pointer;
}
#zip_for_storage_form .orange_button_h_36{
        margin: 5px 10px 0 0;
}
#forgot_form .orange_button_h_36{
	margin: 5px 0 0 0;
}
#post_right_banner .orange_button_h_36 {
	font-size: 14px;
	line-height: 21px;
}
#left_content .post_right_info_storage .orange_button_h_36 {
    text-decoration: none;
}
.profile_post_orange_button{
        float: right;
        font-weight: normal;
        margin: 15px 0;
        height: 23px;
        padding: 5px 15px 0 15px;
}
.listing_form .listing_search{
	display: block;
	width: 230px;
	height: 23px;
	border-top: 2px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	color: #999999;
	padding: 0 2px 0 4px;
}
.listing_form .rounded_block{
	height: 28px;
	border: 1px solid #5b83b2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	background: #f4f4f4;
	font-size: 14px;
	color: #444444;
}
.listing_form .rounded_block .orange_button_h_36, .inside_block .orange_button_h_36{
	width: 46px;
	height: 20px;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	padding: 0 0 1px 0;
	border: none;
	cursor: pointer;
	font-weight: normal;
}
.listing_form .rounded_block .orange_button_h_36{
	float:left;
}
.inside_block .orange_button_h_36{
	float:right;
}
.reply-form .orange_button_h_36, .reply-form-special .orange_button_h_36{
	height: 30px;
	font-size: 14px;
	color:#ffffff;
	padding-top:0;
	cursor: pointer;
}
.sign_up_note .orange_button_h_36, .sgn_in_popup_rigth .orange_button_h_36{
	width: 120px;
	float: none;
	margin: 20px auto 25px auto;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
        font-size: 15px;
}

.promo-unit-body .orange_button_h_44{
	width: 150px;
	float: none;
	margin: 10px auto 10px auto;
	font-size: 15px;
	padding: 12px 0;
	height: 20px;
}
#paid-jobs .promo-unit .promo-unit-button .orange_button_h_44{	
	margin: 20px auto 0px auto;
}

.lightgrey_button{
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: rgb( 91, 131, 178 );
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	background: url(/img/lightgrey_button_repeat_h_24.jpg) repeat-x left top;
	color:#235188;
	font-weight: 600;
	font-size: 11px;
    height: 17px;
	padding: 5px 5px 0 5px;
	cursor: pointer;
}
#form_email_setting .lightgrey_button{
	padding: 2px 4px 2px 4px;
	height: 22px;
	margin: 10px 0 0 345px;
}
a.lightgrey_button{text-decoration: none !important;}

.done_profile_editing{
	color: #235188;
	font-weight: 600;
	font-size: 11px;
    height: 12px;
	padding: 5px 3px;
	line-height: 11px;
}
#edit_profile{
	display: block;
	/* margin: -5px 10px 0px; */
	margin: -7px 0 0 0;
	float: right;
	line-height: 11px;
}

.delete_listings{
    padding: 2px 5px;
    height: 22px;
}

.edit_profile_btns .done_profile_editing{  
	float: right;
	/* margin: -5px 10px 5px; */
	margin: -7px 0px 5px;
}
.block_edit_media .done_profile_editing{
	float: left;
	margin: 15px 0px 0px 15px;
}

.orange_save_h_22{
	display: block;
	height: 22px;
	width: 38px;
	float: left;
	background: url("/img/button/orange_save_repeat_h_22.png") repeat-x scroll left top transparent;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
	/* padding: 5px 0; */
	cursor: pointer;
	color: #fff !important;
	line-height: 12px;
	margin: 0 10px 0 0px;
}
.grey_h_22{
	display: block;
	height: 12px;
	width: 75px;
	background: url("/img/button/grey_save_repeat_h_22.png") repeat-x scroll left top transparent;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-align: center;
	padding: 3px 1px;
	cursor: pointer;
	color: #fff !important;
	line-height: 12px;
}
.grey_h_22:hover{
        text-decoration: none !important; 
}
.orange_button_h_36:hover{
        text-decoration: none !important; 
}
.orange_save_h_22:hover{
	text-decoration: none;
}
.user_page_text .orange_save_h_22{
	width: auto;
	height: 17px;
	padding: 5px 6px 0 6px;
	margin: 18px 0 0 12px;
}
.user_page_text .orange_save_h_22:hover{
	text-decoration: none;
}
.loan-item-cell .orange_button_h_36 {
	width: 85px;
	text-align: center;
}
.aply_now{
	margin: 0 auto;
	width: 109px;
	clear: both;
	float: none;
	font-weight: normal;
	text-align: center;
}
.aply_now_r{
	margin: 0 auto;
	width: 109px;
	clear: both;
	float: none;
	font-weight: normal;
	text-align: center;
}
.aply_now_on_img{
	width: 98px;
	font-weight: normal;
	text-align: center;
	float: none;
	margin: 0 auto;
}
#new_pass .action_edit_password{
	font-size: 12px;
	padding: 3px 0;
}
#left_content  .orange_save_h_22.post_ads_btn{
	width: 100px;
	margin: 18px 0 0 10px;
	text-decoration: none;
}

#register_user .sgn_in_popup .orange_button_h_36, #register_user_and_choise_school .sgn_in_popup .orange_button_h_36{
	width: 121px;
	margin: 0px auto;
	float:none;
	text-align: center;
        
}
#register_user .sgn_in_popup .orange_button_h_36{
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
}
#register_user_and_choise_school .sgn_in_popup .orange_button_h_36{
	height: 36px !important;
    padding: 0 0 0px 0 !important;
	color: #FFF;
	font-size: 15px;
	font-weight: bold;
}
.st_unit_size_table .orange_button_h_36{ line-height: 20px;}
#confirm_local_storage .button_wrap .orange_button_h_36{
	height: 25px;
	margin: 5px 10px 0 0px;
        width: 90px;
        text-align: center;
}
#post_left_sidebar .orange_button_h_36{
	margin: 10px auto;
	width: 153px;
	float: none;
}

#post_right_banner .orange_button_h_36{
	margin: 10px auto;
	width: 153px;
	float: none;
}
a.orange_button_188{
        width: 185px;
        height: 25px;
        display: block;
        margin: 0 auto;
        background-color: #DB621B;
        color: #FFFFFF;
        font-size: 19px;
        padding: 5px 0;
        -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
}
a.grey_button_188{
        width: 190px;
        height: 25px;
        display: block;
        background-color: #E0E0E0;
        color: #1C4A88;
        font-size: 19px;
        padding: 5px 0;
        -webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
}
a.orange_button_188:hover, a.grey_button_188:hover{
        text-decoration: none;
}
@media screen and (max-width: 660px){
	.listing_form .rounded_block{
		height: auto;
		padding: 0 10px 10px 10px;
	}
	.listing_form .listing_search{
		width: 150px;
	}
}
@media screen and (max-width: 560px){
	.listing_form .rounded_block .orange_button_h_36, .inside_block .orange_button_h_36{
		float: none;
		margin: 0 auto;
	}
}
@media screen and (max-width: 560px){
	.listing_form .listing_search{
		float: none;
		width: 230px;
		margin: 0 0 15px 0;
	}
}
@media screen and (max-width: 420px){
	.main_page_orange_button{
		margin: 0px 5px 0 0;
	}
}