#categ a{color:#000;font-family:Georgia,"Times New Roman",Times,serif;font-size:17px;font-weight:400;text-transform:uppercase;}
#categ li{display:inline;}
#nav{background:#333;font-size:1em;padding:0 0 0 15px;}
#nav a,#nav a:hover{border:none;display:block;text-decoration:none;}
#nav a,#nav a:visited{color:#000;display:block;padding:3px 12px;}
#nav a:hover,#nav a:active{background:#333;color:#fff;text-decoration:none;}
#nav li{float:left;list-style:none;}
#nav li li{background:#333;border-top:1px solid #ccc;text-align:left;width:172px;}
#nav li li a,#nav li li a:visited{color:#FFF;font-size:.9em;font-weight:400;}
#nav li li a:hover,#nav li li a:active{background:#484848;}
#nav li ul{height:auto;left:-999em;line-height:20px;position:absolute;width:174px;z-index:700;}
#nav li ul ul{margin:-2em 0 0 172px;}
#nav li:hover ul ul,#nav li.sfhover ul ul{left:-999em;}
#nav li:hover ul,#nav li li:hover ul,#nav li li li:hover ul,#nav li.sfhover ul,#nav li li.sfhover ul,#nav li li li.sfhover ul{left:auto;}
#nav,#nav ul{list-style:none;}
a.main:hover{background:none;}

.post-stats {display:block; font-size:11px; }

#navigation {
font-family:Georgia,"Times New Roman",Times,serif;
font-weight:bold;
padding-top:15px;
text-align:center;
float:left;
margin:0 auto;
width:500px;
}
 
#navigation a, #navigation a:link {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #E6E3D3;
	color: #333;
	background-color: #E6E3D3;	
}
#navigation a:visited {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #E6E3D3;
	color: #333;
	background-color: #E6E3D3;	
}
#navigation a:hover {	
	border: 1px solid #333;
	color: #fff;
	background-color: #333;
}
#navigation a:active {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #E6E3D3;
	color: #333;
	background-color: #E6E3D3;	
}
#navigation span.pages {
	padding: 2px 4px 2px 4px; 
	margin: 2px 2px 2px 2px;
	color: #333;
	border: 1px solid #E6E3D3;
	font-weight:normal;
	background-color: #E6E3D3;
}
#navigation span.current {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	font-weight: bold;
	border: 1px solid #333;
	color: #fff;
	background-color: #333;
}
#navigation span.extend {
	padding: 2px 4px 2px 4px; 
	margin: 2px;	
	border: 1px solid #E6E3D3;
	color: #fff;
	background-color: #E6E3D3;
}
 

.tab_container {
	margin: 0px;
	padding: 0px;
	float:left;
	border: 5px solid #F8F5E8;
}

.tab_container_in {
	margin: 0px;
	padding: 10px;
  width:359px;
	border-left: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}

.tab_container_in  img {
border:2px solid #CCCCCC;
margin:0 5px 3px 0;
float:left;
}

.tab_container_in li {
display:block;
float:left;
width:100%;
padding:5px 0 5px 0;
border-bottom:1px dotted #ccc;
}

.tab_container_in a {
color:#154A7F;
font-size:13px;
font-weight:700;
padding-bottom:3px;
}

.tab_menu_container {
	padding: 0px 0px 0px 10px;
	
	height: 33px;
		border-top:3px solid #ECE8D7;
	background-color: #F8F5E8;
}



#tab_menu li {
	margin: 0px;
	padding: 7px 5px 2px 0px;
  width:23%;
	background-color: #F8F5E8;
	text-transform:uppercase;
	color:#333;
	font-family:Georgia;
	font-size: 12px;
	line-height: normal;
  font-weight:700;
	float: left;
	list-style: none;
	cursor: pointer;
	text-align:center;
	border-bottom: none;
}

#tab_menu .first {
	padding: 7px 5px 2px 6px;
}

#tab_menu li a, #tab_menu li a:visited {
	margin: 0px;
	padding: 4px 6px 4px 6px;
	
	background-color: #E6E3D3;

	color: #333;
	text-decoration: none;
	
	display: block;
}

#tab_menu li a:hover, #tab_menu li a.current {
	background-color: #333;

	color: #ffffff;
	text-decoration: none;
}

.tab_sidebar_list {
	display: none;	
}

.column_right {
 
	width: 390px;
	
	float: left;
}

 

#tab_sidebar_comments img {
border:2px solid #CCCCCC;
margin:0 5px 3px 0;
padding:0;
}

#tab_sidebar_comments  {
font-size:11px;
}

/* END Tabs */