/*
Theme Name: Yamidoo
Theme URI: http://www.wpzoom.com/yamidoo
Description: A magazine style theme by <a href="http://www.wpzoom.com">WPZOOM</a>, created by <a href="http://ciorici.com">Pavel Ciorici</a>
Version: 1.0
Author: Pavel Ciorici

*/
/* ------------------------------------------ */
/* RESETS, BASIC PAGE SETUP, BASIC TYPOGRAPHY */
/* ------------------------------------------ */
   
   *
{
	margin:0;
	padding:0;
}

body
{
	background:url(images/bg.png) repeat;
	color:#222;
	font:62.5% Arial,Helvetica,sans-serif;
}
 
/* Global reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}

/* Global reset-RESET */
/* The below restores some sensible defaults */
strong { font-weight: bold }
em { font-style: italic }
a img { border:none } /* Gets rid of IE's blue borders */


/* ------------------------------------------ */
/* TOOLBOX CSS */
/* ------------------------------------------ */
  
  .aligncenter,div.aligncenter
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.alignleft
{
	float:left;
	margin:10px 15px 5px 0;
}

.alignright
{
	float:right;
	margin:10px 0 8px 20px;
}

.clear
{
	clear:both;
}

.floatleft,.more_left
{
	float:left;
}

.floatright
{
	float:right;
}

.hr
{
	border-top:3px solid #ECE8D7;
}

.post
{
	float:left;
	line-height:20px;
	width:530px;
}

.post small {
  text-transform:uppercase;
  font-size:10px;
  font-weight:bold;
  padding:0px 0 0px 0;
 
  }
  
.post a
{
	border-bottom:1px solid #ccc;
	color:#154A7F;
	font-weight:700;
}

.post a:hover
{
	border:none;
	text-decoration:none;
}

.post blockquote
{
	border-left:3px solid #ccc;
	color:#777;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:16px;
	font-style:italic;
	line-height:1.8em;
	margin:10px 20px 10px 30px;
	padding-left:10px;
}

.post h1
{
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:26px;
	font-weight:400;
	padding-bottom:10px;
	padding-top:10px;
	line-height:30px;
}

.post h2,h3,h4,h5,h6
{
	font-weight:700;
	padding-bottom:5px;
	padding-top:10px;
}

.post li ol
{
	border-bottom:1px dotted #ccc;
	line-height:25px;
	padding-left:15px;
}
.post   ol li  {
list-style:decimal;
}

.post p
{
	padding:10px 0 5px 0;
}

.post ul li
{
 
	line-height:25px;
	list-style:square;
}
 
.post ul,.post ul,ol
{
	padding:10px 0 10px 25px;
}

.transpBlack
{
	background:url(transpBlack.png);
}

.widget
{
	float:left;
	margin:10px 0 15px 0;
	width:390px;
 
}

.widget a
{
	color:#154A7F;
	font-size:13px;
	font-weight:700;
}

.widget  img
{
	border:0;
	background:#fff;
}

.widget li
{
  line-height:20px;
	border-bottom:1px dotted #ccc;
	padding:4px 0 4px 10px;
}

.widget li:hover
{
	background:#F8F5E8;
	border-bottom:1px dotted #ccc;
 
}

 
}
.widget ul ul
{
	padding-left:20px;
}

.wp-caption
{
	background-color:#EFEFEF;
	border:1px solid #B6B6B6;
	font-size:11px;
	margin-bottom:5px;
	padding:5px 5px 5px;
	text-align:center;
}

.wp-caption img
{
	border:1px solid #B6B6B6;
}

a
{
	color:#000;
	outline:none;
	text-decoration:none;
}
  a img
{
	border:none;
}

a:hover
{
	text-decoration:underline;
}

 

h1 a
{
	color:#000;
	font-size:22px;
	font-weight:400;
}

h2
{
	font-size:20px;
}

h3
{
	font-size:18px;
}

h4
{
	font-size:16px;
	
}

h5
{
	font-size:14px;
}

h6
{
	font-size:12px;
}

html
{
	overflow-y:scroll;
}

p
{
	font-size:1.3em/1.3em;
 
}

ul,#socialicons ul
{
	list-style:none;
}
/* ------------------------------------------ */
/* HEADER http://knightnews.com/wp-content/themes/yamidoo/images/new_header2.jpg*/
/* ------------------------------------------ */
 header
{
	padding:0;
        background-image:url(/wp-content/uploads/2010/10/kosmas_banner_930x127.jpg);
        /*background:url(/wp-content/uploads/2010/03/americancampus/rotate.php) no-repeat;*/
        width:980px;
        height:127px;
}

 #header_ad
{
	padding:0;
        background:url(/ad-banners/rotate.php) no-repeat;
        width:980px;
        height:127px;
}

 #header_ad_blood_bank
{
	padding:0;
        background:url(/ad-banners/bloodbank.jpg) no-repeat;
        width:980px;
        height:127px;
}


#logo
{
  padding-top:20px;
	float:left;
	width:50%;
        display:none;
}

#logo h1 a
{
	color:#BFB5B5;
	font-family:Rockwell,"Times New Roman",Times,serif;
	font-size:35px;
	font-weight:700;
}

 

#logo h2
{
	color:#BFB5B5;
	font-size:14px;
	font-weight:bold;
}
 
 

/* ------------------------------------------ */
/* MAIN CONTENT */
/* ------------------------------------------ */



#headline {
	height: 280px;
  width:600px;
	overflow: hidden;
	position: relative;
	background-color:#333;
	border:1px solid #BFB8B8;
 
	}
	
	#headline a:hover {
	text-decoration:none;
	}
	
#headline .glidecontent {
	color: #E1E1E1;
	position: absolute;
	visibility: hidden;
	z-index: 0;
	}
#headline .teaser-image {
 	width: 480px;
	height: 280px;
	line-height: 0;
	position: relative;
	z-index: 0;
	cursor:pointer;
	}

#headline .teaser-image-small {
	left: 15px;
	width: 90px;
	height: 60px;
	line-height: 0;
	border:1px solid #BFB8B8;
	position: relative;
	z-index: 0;
	}
	
	
* html #headline .teaser-image {
	display: inline;
	}
#headline .teaser-main {
  left:0;
	top: 218px;
	width: 480px;
	height: 62px;
	position: absolute;
	}
#headline .teaser-main .overlay {
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;	
	position: absolute;
	background: #000;
	opacity: 0.5;
	-moz-opacity: 0.7;
	filter:alpha(opacity=50);
	}
#headline .teaser-main .teaser-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	}
#headline .teaser-main .teaser-title {
	margin: 0 10px;
	padding: 5px 0 4px 0px;
	font-size: 1.6em;
	font-weight: bold;
	line-height: normal;
	position: relative;
	}
#headline .teaser-main .teaser-text {
	margin: 0 10px;
	position: relative;
	font-size:10px;
	text-transform:uppercase;
	font-weight:200;
	}
#headline .teaser-main .teaser-text p {
	margin: 0;
	}
#headline .teaser-main a:link,
#headline .teaser-main a:visited {
 
	font-weight:700;
	font-size:15px;
	text-transform:uppercase;
	color: #E1E1E1;
	}
#headline .teaser-main a:hover {
	color: #E1E1E1;
	text-decoration:underline;
	}
 
#headline .glidecontenttoggler { /* Style for DIV used to contain toggler links. */
 
	height:250px;
  right: 15px;
	font-weight:bold;
	width: 115px;
	color: #BD3D0A;
	font-size: 12px; 
	position: absolute;
	padding-right:2px;
	padding-top:5px;
	}
 
  
#headline .glidecontenttoggler a {
 
	padding:0px 0 4px 0;
	display: block;
	cursor: pointer;
	}
 
#headline .glidecontenttoggler img:hover {
	border:1px solid #000;

}
 
#headline .glidecontenttoggler .togglercontent {
	padding: 10px;
	font-weight: bold;
	border:none;
	}
	
	#headline .glidecontenttoggler .togglercontent a:hover {
text-decoration:none;
border:none;
 
	}
#headline .glidecontenttoggler .togglertitle {
	margin: -2px 0 0 15px;
	line-height: 1.2em;
	display: block;
	}
	
	
	
	
  .article
{
	background-color:#F8F5E8;
	border-bottom:2px solid #ECE8D7;
	border-right:2px solid #ECE8D7;
	line-height:19px;
	margin:15px 0 18px 0;
	padding:10px 5px 15px 10px;
}

.article h1
{
	padding-bottom:10px;
}

.article h1 a
{
	color:#154A7F;
	font-size:19px;
	font-weight:700;
}

.article img
{
 
	float:right;
	margin:0 10px 10px;
}

.article small,.article small a
{
	color:#154A7F;
	text-transform:uppercase;
	font-weight:bold;
	padding-top:5px;
}

#articles h3,.widget h3
{
	background-color:#F8F5E8;
	border-top:3px solid #ECE8D7;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:12px;
	font-weight:700;
	padding:8px 0 8px 10px;
	text-transform:uppercase;
}

#articles,#more
{
	float:left;
	width:530px;
}

.author
{
	float:left;
	width:110px;
}

.author img
{
	border:1px solid #ccc;
	display:block;
}

#categ
{
	background-color:#ffcc66/*FFF9F9*/;
	border-bottom:1px solid #BFB8B8;
	border-top:1px solid #BFB8B8;
	float:left;
	padding:7px 0;
	text-align:center;
	width:980px;
}

 

.column
{
	border-right:1px solid #ECE8D7;
	float:left;
	padding:0 15px;
	width:200px;
}


.column p, .column_last p  {
padding:0 0 10px 0;
}

.column h1 a,.column_last h1 a
{
	color:#154A7F;
	font-size:17px;
	font-weight:700;
	
}

.column h1,.column_last h1
{
	padding:5px 0;
}

.column h4,.column_last h4
{
	font-size:10px;
	font-weight:700;
	text-transform:uppercase;
}

.column img,.column_last img
{
 
 
	margin:0 0 15px;
 
}

.column small a,.column_last small a
{
	color:#154A7F;
}

.column small,.column_last small
{
	color:#154A7F;
	font-weight:700;
	text-transform:uppercase;
}

.column_count
{
	background:url(images/comment.png) no-repeat left;
	float:left;
	padding:10px 0 10px 20px;
}

.column_date
{
	float:right;
	text-align:right;
	padding-top:10px;
}

.column_last
{
	float:left;
	padding:0 15px;
	width:200px;
}

#columns
{
	float:left;
	line-height:19px;
	padding:5px 0 0 0;
}
/*  The comment section*/


#commentform #author, #commentform #email, #commentform #url, #commentform textarea {

        border: 1px solid #808080;
        padding: .2em;
        margin-left:10px;
}

#commentform textarea {
        width:96%;
}

#commentlist {
        width: 97%;
        font-size:11px;
        color:#000;
        margin:0 0 20px 0;
        padding: 0 0 0 10px;
}
 

#commentlist li {
        border:5px solid #dcdcdc;
        margin:0 0 20px 0;
        list-style-type:none;
        padding:0px;
        background:#f5f5f5;

}

#commentlist ul {margin:0; padding:0;}

#commentlist li p {font-size:12px;
        padding:5px 10px 5px 80px;
        margin:0;

}

#commentlist a {
        text-decoration:none;
        font-weight:bold;
        border-bottom:none;
}
#commentlist a:hover {
  text-decoration:underline;

}
#commentlist li div.meta {text-transform:uppercase;padding:0; margin:0; text-align:center;}

#commentlist li .avatar {
        float:left;
        padding:0;
        margin:5px;
        border:2px solid #ECE8D7;

}

 
#commentlist2 h2 {
padding-bottom:10px; 
}

#commentlist2 {
line-height:10px;
        float:left;
        width: 97%;
        font-size:11px;
        color:#000;
        margin:0px 0 20px 0;
        padding: 10px 0 0 10px;
}

#commentlist2 li {
        border:1px solid #dcdcdc;
        margin:0 0 20px 0;
        padding:5px;
        list-style-type:none;
        padding:5px 10px 5px 63px;
        background:#F8F5E8;


}

#commentlist2 ul {margin:0; padding:0;}

#commentlist2 li p {font-size:12px;
        margin:0;
}

#commentlist2 a {
        text-decoration:none;
        font-weight:bold;
        border:none;
    
}
#commentlist2 a:hover {
        text-decoration:underline;
        font-weight:bold;
    
}

#commentlist2 li div.meta {text-transform:uppercase; padding:0; margin:0; text-align:center;border-bottom:1px dotted #3333;}

#commentlist2 li .avatar {
        float:left;
        padding:0;
        margin-left:-58px;
		width:50px;
		height:50px;
		    border:2px solid #E6E3D3;
}

#commentlist2 li ul li { 
	margin-right: -5px;
	margin-left: -50px;
	margin-bottom: 7px;
	margin-top: 11px;
	background:#E6E3D3;
	border:1px solid #ADACA8;
}


.children { padding: 0; }

.authorcomm {float:left;
            margin:0;
            padding:0;
            width:70px;
            text-align:center;
            line-height:12px;
            font-size:10px;
}

.authorcomm a {text-decoration:none; font-weight:bold;}

.reply {text-align:right; padding:5px;}
.navigation {width:100%; height:20px;}
.cancel-comment-reply{text-align:right; float:none; font-size:12px;}
.comment-meta  a{border-bottom:1px dotted #3333;text-transform:uppercase; font-size:9px; color:#808080;}
.fn {font-size:13px; font-weight:bold;}
.says {display:none;}
#comments {font-size:16px;}
#respond h3 {font-size:16px;}
 

#content-wrap
{
	float:left;
	padding:20px;
}

#feature
{
	float:left;
	padding:0 0 15px;
	width:610px;
}

#featured-article
{
	float:left;
	padding-left:10px;
	/* line-height:21px; */
	width:310px;
	/* text-align:justify; */
}

#featured-article .teaser-title {
	/* margin: 0 10px;
	padding: 5px 0 4px 0px;
	font-size: 0.8em; */
	font-weight: bold;
	line-height: normal;
	text-transform:uppercase;
	position: relative;
	}
#featured-article .teaser-text {
	/* margin: 0 10px; */
	position: relative;
	color:#FFF;
	font-size:10px;
	text-transform:uppercase;
	font-weight:200;
	padding-bottom:5px;
	}

#featured-article h1
{
	/* font-family:Georgia,"Times New Roman",Times,serif; */
	padding-bottom:5px;
	/* line-height:30px; */
}

#featured-article a
{
	/*
	color:#154A7F;
	font-size:17px;
	font-weight:700;
	*/
	font-weight:bold;
	font-size:15px;
	color:#FFF;
}

#featured-article h4
{
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:14px;
	font-weight:700;
	text-align:right;
}

#featured-article small {
  text-transform:uppercase;
  font-size:10px;
  font-weight:bold;
  padding:1px 0 5px 0;
 
  }
  
 
  
#featured-article small  a
{
	border-bottom:1px solid #ccc;
	color:#154A7F;
	font-weight:700;

}

#featured-article small  a:hover
{
text-decoration:none;
border-bottom:1px solid #fff;

}
#featured-article p {
padding:5px 0 0 0;
 
}

#main-wrap
{
	background-color:#fff;
	clear:both;
	float:left;
	font-size:12px;
	margin-top:0px;
	width:980px;
	
}

#more a
{
	background:url(images/dot.png) no-repeat left;
	color:#154A7F;
	font-size:13px;
	font-weight:700;
	padding-left:10px;
}

#more li
{
	border-bottom:1px dotted #ccc;
	display:inline;
	line-height:25px;
}

.more_right
{
	border-bottom:1px dotted #ccc;
	color:#848d98;
	text-align:right;
	font-weight:bold;
	font-size:10px;
	text-transform:uppercase;
}

#menu
{
	float:right;
	padding:5px 15px 5px 0;
	text-align:right;
 
}

#menu a
{
	color:#000;
	text-transform:uppercase;
	font-size:10px;
	font-weight:bold;
}

#menu img {
vertical-align:middle;
padding-bottom:2px;
}

#menu li
{
	display:inline;
	padding-right:10px;
}

#page-wrap
{
	margin:0 auto;
	width:980px;
}

#s, #semail
{
	background:#f6f6f6;
	border-bottom:1px solid #eee;
	border-left:1px solid #ccc;
	border-right:1px solid #eee;
	border-top:1px solid #bbb;
	color:#666;
	float:left;
	font-size:12px;
	padding:5px;
	width:135px;
}

input
{
	background:#f6f6f6;
	border-bottom:1px solid #eee;
	border-left:1px solid #ccc;
	border-right:1px solid #eee;
	border-top:1px solid #bbb;
	color:#666;
	font-size:13px;
	 
	
}

#commentform input {
height:24px;
}
#commenform small {
margin-left:10px;
}

textarea
{
	background:#f6f6f6;
	border-bottom:1px solid #eee;
	border-left:1px solid #ccc;
	border-right:1px solid #eee;
	border-top:1px solid #bbb;
	color:#666;
	font-size:12px;
	padding:5px;
 
}

#search2
{
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

#search
{
	float:right;
	padding-top:30px;
	text-align:right;
}
#socialicons
{
	border-bottom:1px dotted #A0BDD4;
	border-top:1px dotted #A0BDD4;
	color:#4c4d50;
	float:left;
	margin:10px 0 0;
	padding:1px 0 10px 0;
	width:530px;
}

#socialicons img
{
	margin-right:5px;
	padding-bottom:3px;
	height:16px;
}

#socialicons li
{
	border:none;
	display:inline;
	float:left;
	padding-right:11px;
}

#socialicons small
{
	color:#4c4d50;
	font-family:arial, "lucida console", sans-serif;
	font-size:10px;
	font-weight:700;
	text-transform:uppercase;
}

#socialicons small a
{
	border-bottom:none;
	color:#4c4d50;
	text-decoration:none;
}

#socialicons small a:hover
{
	border-bottom:none;
	color:#030a1f;
}

#socialicons small img
{
	border:none;
	vertical-align:middle;
}

#submit
{
	background:#737070;
	background-color:#737070;
	border:1px solid #504F4F;
	color:#F1ECEC;
	float:left;
	font-size:10px;
	margin-left:10px;
	padding:5px;
	height:26px;
	text-transform:uppercase;
}

#searchsubmit
{
 
	background-color:#737070;
	border:1px solid #737070;
	color:#F1ECEC;
	float:left;
	font-size:10px;
	margin-left:5px;
	padding:5px;
	text-transform:uppercase;
}

 


/* ------------------------------------------ */
/* SIDEBAR */
/* ------------------------------------------ */
  #sidebar
{
	float:right;
	padding-left:20px;
	text-align:left;
	width:390px;
}

#sidebar_left {
float:left;
 
}
  
#sidebar_right {
float:left;
padding-left:20px;
 
}
#sidebar_left  .widget, #sidebar_right .widget
{
	float:left;
	margin:0 0 15px;
	width:180px;
}
   #ads li
{
	border:none;
	display:block;
	float:left;
	margin:0;
	padding:0 5px 5px 0;
	text-align:left;
	width:125px;
}
   
   #flickrrss img
{
	border:2px solid #D3DDE5;
	height:77px;
	width:77px;
}

#flickrrss img:hover
{
	border:2px solid #0C2B41;
	background:#fff;
}

#flickrrss li
{
	border:none;
	display:block;
	float:left;
	padding:0 7px 5px 7px;
	text-align:left;
	width:82px;
}

#flickrrss li:hover, #ads li:hover {
background-color:#fff;
}

#flickrrss ul
{
	display:block;
	list-style-type:none;
	margin:5px 0 0;
	padding:5px 0;
	}
 
   
/* ------------------------------------------ */
/* FOOTER*/
/* ------------------------------------------ */
  
   #footer
{
	background-color:#fff;
	float:left;
	font-size:12px;
	line-height:19px;
	margin:20px 0;
	width:980px;
 
}

 #footer a
{
	border-bottom:1px solid #ccc;
	color:#154A7F;
	font-weight:700;
}

 #footer a:hover
{
	border:none;
	text-decoration:none;
}

#footer h4
{
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
}

#footer_right
{
	float:right;
	padding:50px 15px 0 0;
	text-align:right;
}

#footer_right li
{
	display:inline;
	font-size:14px;
	font-weight:700;
	padding:0 0 0 10px;
	text-transform:uppercase;
}

#footer_right ul
{
	display:block;
	height:20px;
}


  #subscribe
{
	float:left;
	padding:20px;
	width:280px;
}

 #subscribe p {
 padding:5px 0 8px 0;
 } 
   
/* END STRUCTURE */



