/*
 * Id: 7.22476
 * Version: 1360264682
 * Generated: Sep 12, 2014 6:41:15 PM
 */

/*
 * Id: 7.267
 * Version: 1329403953
 * Generated: Mar 1, 2012 2:20:52 PM
 */

/* ___________________________________________ */
/* GLOBAL MOBILE STYLES _____________________________*/
/* ___________________________________________*/
/*
Plugin Name: Mobile Formatting
Author: CMN
*/

/* COMMON */
body { background-color: #CCC; color: #000; font: normal 62.5%/1.3em arial, sans-serif;; -webkit-text-size-adjust: none /* prevents orientation font scaling */; text-align: center; margin: 0px auto; padding: 0px; max-width: 480px;}
body.article{padding:0; border:none; background:#ccc;}
ol, ul, li, h1, h2, h3, h4, h5, h6, p, form, input, object, embed { padding: 0px; }
a:link, a:active {text-decoration:none; color:#000;}
a:hover, a:visited {color:#666;}
.ad{ padding:5px 0 2px 0;}
#logo img{width:100%;}

/* FONT SIZES */
h1{font-size:2em;}
h2{font-size:1.8em;padding: .3em;margin:0;text-transform:uppercase;background: url('/polopoly_fs/7.267!/grad-header.gif') repeat-x 0 0;}
h3{font-size:1.5em;}
h4{font-size:1.2em;}
#contentWrapper{background:#FFF;text-align:left;padding: 0 0 0;}

/* nav */
#nav {text-align:center;color:#888;font-size:1.2em;line-height:1.5em;}
#nav a {font-weight:bold;}
#nav p {margin: .5em 0 0;}

/* SEARCH */
.search .endDateField, .search .dateField {display:none;}
.search h3.info {font-size:1.3em;}
.search .searchFilter {margin:.5em 10px;overflow:hidden;border:1px solid #ccc;}
  .search .searchFilter li {width:23%;float:left;list-style:none;font-size:1.2em;text-align:center;padding: .3em;}
  .search .searchFilter li.sort {background:#f5f5f5;text-align:left;color:#666;}
ul.searchResults li h3 a{ font:bold 15px arial; display:block;}
ul.searchResults li{ border-bottom:solid 1px #CCC; list-style:none;}
ul.searchResults li .text{ padding:0; font: normal 12px arial !important;}
.pager{ font:bold 15px arial; text-align:center;border-bottom:solid 5px #cccccc;}
ul.searchResults li .meta,
ul.searchResults li .text{ padding:3px 10px;}

/* MOBILE TOOLS */
#mobileTools {margin:1em 0 0;padding: 1em .5em;clear:both;overflow:hidden;uppercase;background: url('/polopoly_fs/7.267!/grad-header.gif') repeat-x 0 0;}
#mobileTools a#non-mobile {float:left;width:30%; font-weight:bold;display:block;}
#mobileTools .search {float:right;padding:0;margin:0;}
#mobileTools .search h2 {display:none;}
#mobileTools .search form {padding:0;margin:0;}

/* list style */
#mobileNews, .mostPopular ul {margin: 0 0 1em .5em;}
#mobileNews li, .mostPopular li {font-size:1.2em;list-style-type:disc;color:#5e101e;padding: .2em 0;margin: 0 0 0 1.5em;}
#mobileNews li.first {list-style:none;padding: 1em 0;margin:0;}
#mobileNews li h3 {margin: .3em 0;}
#mobileNews li p {font-size:1em;}

/* teaser */
.teaser{clear:both; overflow:hidden;}
.teaser h3 {font-size:1.3em;line-height:1.1em;}
.teaser p{ line-height:1.3em; color:#333333;}
.teaser img{float:left; padding:3px; border: solid 1px #b8b8b8; margin:0 6px 0 0;}

/* ARTICLE PAGES */
.navpath, .breadCrumb{ padding:5px; }
.article h1{ padding:3px 0 5px;line-height:1.1em;}
.article h2 {background:none;text-transform:none;font-size:1.4em;margin:0;padding: 5px 0;font-weight:normal;}
ul.searchResults li,
.article{ padding-top:5px; border-top:solid 1px #fff;}
.article .author{padding:2px; font-weight:bold;}
.article .published, .article .updated {padding:2px; font-size:11px; color:#6666; background:none; font-weight:normal;}
.article .imageRight,
.article .imagetop{padding:5px 10px; width:208px; float:right;}
.article .imageRight a img,
.article .imagetop a img{ padding:3px; border: solid 1px #b8b8b8; width:200px;}
.article .caption{ font-size:11px; color:#666;}
.article .credit{ font: bold 11px arial; color:#666;}
.article .text{padding:3px 0; font: normal 12px arial; line-height:14px;}
.article .text p{padding-bottom:10px;}
.article .text img {max-width:380px;}
.article .text a.viewAll {display:block;border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding: .3em .3em;font-weight:bold;text-align:center;}
.article .text a.viewAll:hover, .article .text a.viewAll:active {background: #eee;}

/* comments */
.articleComments {clear:both;overflow:hidden;}
.articleComments h4 {font-size:13px !important;}
.articleComments .header .h3 {display:inline;}
.articleComments .header a {text-decoration:underline;padding: 0 .3em;}
.articleComments .comment_contents p {12px !important;}
.articleComments .row {background:#f5f5f5;margin:0;padding:1em;border-top:1px solid #ddd;}
  .articleComments .row.even {background:#fff;}
.articleComments .comment_contents .middle {margin: 1em 0 0;}
.articleComments .comment_contents .middle .signature {width:50%;float:left;margin: 0 0 1em;font-style:italic;}
.articleComments .comment_contents .middle .timestamp {float:right;margin: 0 0 1em;font-style:italic;}
.articleComments .comment_contents .body {clear:both;display:block;}

/* blogs */
.blogInfo{ padding:3px 10px 10px 10px; overflow:hidden; border-bottom:solid 1px #b8b8b8;}
.blogInfo p img{ width:100%;}
.blogInfo h2.blogName{padding:0 !Important; font-size:25px;}
.blogInfo p{ padding-bottom:5px;}
.blogInfo .blogStats{ float:right; padding:5px; background:#eeeeee;}
.postingBar,
.blogInfo .blogStats p{ font: normal 11px arial; display:inline; color:#666;}
.postingBar{display:block; line-height:13px; padding:5px 0;}
li.lineodd,
.postingBody,
.blogArchive,
.posting {background:transparent url(/img/mobile/gradient-bg.gif) repeat-x scroll center top; border-bottom: solid 1px #b8b8b8; border-top: solid 1px #fff; padding:10px; font: normal 15px arial; line-height:19px; list-style:none; color:#000 !important;}  
.postingBody{background:none; font-family: Arial, Helvetica, sans-serif !important;}
.postingBody span,
.postingBody p{padding-bottom:14px;  font-family: Arial, Helvetica, sans-serif !important;}
.posting .postingDate{font: normal 11px arial; color:#666; padding:3px 0 5px 0;}
.pageViews,.articleTools{display:none;}
table.calendar{border: solid 1px #ccc; width:210px; height:130px; margin:10px auto;}
table.calendar tr td{ border: solid 1px #CCC; background:transparent url(/img/mobile/gradient-bg.gif) repeat-x scroll center top; text-align:center;}
table.calendar tr td a{display:block;}
.previousNextPosting{ margin:10px; padding:5px; background:#eee;}
.scrollerlinks,
.article h3{padding:3px 10px;}
li.lineodd h3,.posting h3,.blogArchive h3{padding:0;}
.article form{padding:10px;}
.article form textarea{width:100%; margin:0 auto;}
.article form p,#captcha{ padding:5px 0;}
input.ownLineSubmitform{font-size:15px;}
.noPostings{ padding:10px;}


      