/********************
Filename: source.css
Author: Mutant Media | www.mutantmedia.com
Client: Aramark
Start Date: 07/18/06
*********************/

/********************
1.) GLOBAL | CONTAINER ELEMENTS
*********************/
body {
	background: url(/eCampus/images/mutant/bodyBG.jpg) repeat top left;
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
}
#bodyContainer {

}
#contentTable {
	background: #FFFFFF;
	width: 977px;
}
#divider2
{

height:8.5px;
padding: 0px 0px 0px 0px; 
background: url(/eCampus/images/DesignD/BG_HorizonDots.gif) repeat-x top left;
}


/********************
2.) LEFT COLUMN
*********************/
#leftColumn {
	width: 274px;
	vertical-align: top;
	text-align:left;
}
#lcLogo {
	background: url(/eCampus/images/mutant/logo.jpg) no-repeat;
	height: 85px;
	margin: 0;
	padding: 7px;
	text-align: right;
	vertical-align: top;
}
#lcLogo IMG {
	border: none;
}
#lcHeader {
	height: 40px;
	vertical-align: top;
	padding: 25px 0 0 7px;
}
#lcForm {
	background: #CC9900;
	height: 36px;
	padding: 0 0 3px 6px;
	vertical-align: middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #FFFFFF;
}
#WucChalkboard1_findLocations { /*option box*/
	width: 195px;
	height: 17px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #666666;
}
#findLocations { /*option box*/
	width: 195px;
	height: 17px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: #666666;
}
#lcGrad {
	background: url(/eCampus/images/mutant/leftColumnBG.jpg) repeat-x top left;
	height: 43px;
	vertical-align: top;
	padding-left: 20px;
}
#lcGrad IMG {
	border: none;
}
#lcExpandPath {
	width: 254px;
}
#lcExpandPath ul {
	margin: 7px 0 0 0;
	padding: 0 0 20px 20px;
}
#lcExpandPath li {
	background: url(/eCampus/images/mutant/liBG.jpg) repeat-x bottom left;
	display: block;
	height: 11px;
	list-style: none;
	margin: 0;
	padding: 5px 0 5px 10px;
}
#lcExpandPath li:hover, li:focus {
	background: url(/eCampus/images/mutant/liBGSolid.jpg) repeat-x bottom left #FFFFA4;
	height: 11px;
}
#lcExpandPath a {
	display: block;
	height: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #434934;
}
#lcExpandPath2 {
	width: 254px;
}
#lcExpandPath2 ul {
	margin: 7px 0 0 0;
	padding: 0 0 20px 20px;
}
#lcExpandPath2 li {
	background: url(/eCampus/images/mutant/liBG.jpg) repeat-x bottom left;
	display: block;
	height: 11px;
	list-style: none;
	margin: 0;
	padding: 5px 0 5px 10px;
}
#lcExpandPath2 li:hover, li:focus {
	background: url(/eCampus/images/mutant/liBGSolid.jpg) repeat-x bottom left #FFFFA4;
	height: 11px;
}
#lcExpandPath2 a {
	display: block;
	height: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #434934;
}
#lcExpandPath3 {
	width: 254px;
}
#lcExpandPath3 ul {
	margin: 7px 0 0 0;
	padding: 0 0 20px 20px;
}
#lcExpandPath3 li {
	background: url(/eCampus/images/mutant/liBG.jpg) repeat-x bottom left;
	display: block;
	height: 11px;
	list-style: none;
	margin: 0;
	padding: 5px 0 5px 10px;
}
#lcExpandPath3 li:hover, li:focus {
	background: url(/eCampus/images/mutant/liBGSolid.jpg) repeat-x bottom left #FFFFA4;
	height: 11px;
}
#lcExpandPath3 a {
	display: block;
	height: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #434934;
}
#greyBottom {
	background: #ECECEC;
	height: 50px;
}
#lcLinks {
	width: 264px;
}
#lcLinks ul {
	margin: 0;
	padding: 0 0 20px 20px;
}
#lcLinks li {
	background: url(/eCampus/images/mutant/liBG.jpg) repeat-x bottom left;
	display: block;
	height: 11px;
	list-style: none;
	margin: 0;
	padding: 5px 0 5px 10px;
}
#lcLinks li:hover, li:focus {
	background: url(/eCampus/images/mutant/liBG.jpg) repeat-x bottom left #FFFFA4;
	height: 11px;
}
#lcLinks .highlighted {
	background: url(/eCampus/images/mutant/liBG.jpg) repeat-x bottom left #FFFFA4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;	
	font-weight: bold;
	color: #434934;	
}
#lcLinks a {
	display: block;
	height: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #434934;
}
.arrow {
	color: #9D0508;
	font-size: 9px;
}
#lcBottom {
	background: url(/eCampus/images/mutant/dotLineBG.jpg) repeat-x top left;
	width: 274px;
	vertical-align: top;
	padding: 7px 15px 0 15px;
}
#lcBottom IMG {
	border: none;
}
#hipKitsTable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;	
	padding-top: 15px;
}
#hipKitsTable td {
	vertical-align: top;
}
#hktImage {
	width: 110px;
}
#hktText {
	width: 164px;
}
#hktText p {
	margin: 0;
	padding:0 0 8px 0;	
}


/********************
3.) LEFT COLUMN ROLLOVER ELEMENTS
*********************/
#breakfastItems {
	visibility:hidden;
	background: url(/eCampus/images/mutant/savoryMenuICN.jpg) no-repeat top left #FFFFA4; 
	border-left: 6px solid #9D0508;
	border-bottom: 6px solid #9D0508;		 
/*	position:absolute; 
	top: 170px; 
	left: 274px; */
	width:225px; 
	visibility:hidden
}/*
#breakfastItems ul {
	margin: 7px 0 0 0;
	padding: 25px 0 20px 20px;
}
#breakfastItems li {
	background: url(/eCampus/images/mutant/liBGYellow.jpg) repeat-x bottom left;
	display: block;
	height: 11px;
	list-style: none;
	margin: 0;
	padding: 5px 0 5px 10px;
}
#breakfastItems li:hover, li:focus {
	background: url(/eCampus/images/mutant/liBGYellow.jpg) repeat-x bottom left #FAFBF1;
	height: 11px;
}
#breakfastItems a {
	display: block;
	height: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #434934;
}
#breakfastItems .arrow {
	position: absolute;
	right: 4px;
	font-weight: bold;
}	*/
#lunchItems {
	visibility:hidden;
	background: url(/eCampus/images/mutant/savoryMenuICN.jpg) no-repeat top left #FFFFA4; 
	border-left: 6px solid #9D0508;
	border-bottom: 6px solid #9D0508;		 
	position:absolute; 
	top: 267px; 
	left: 274px; 
	width:225px; 
	visibility:hidden
}
#lunchItems ul {
	margin: 7px 0 0 0;
	padding: 25px 0 20px 20px;
}
#lunchItems li {
	background: url(/eCampus/images/mutant/liBGYellow.jpg) repeat-x bottom left;
	display: block;
	height: 11px;
	list-style: none;
	margin: 0;
	padding: 5px 0 5px 10px;
}
#lunchItems li:hover, li:focus {
	background: url(/eCampus/images/mutant/liBGYellow.jpg) repeat-x bottom left #FAFBF1;
	height: 11px;
}
#lunchItems a {
	display: block;
	height: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #434934;
}
#lunchItems .arrow {
	position: absolute;
	right: 4px;
	font-weight: bold;
}	
#dinnerItems {
	visibility:hidden;
	background: url(/eCampus/images/mutant/savoryMenuICN.jpg) no-repeat top left #FFFFA4; 
	border-left: 6px solid #9D0508;
	border-bottom: 6px solid #9D0508;		 
	position:absolute; 
	top: 367px; 
	left: 274px; 
	width:225px; 
	visibility:hidden;
}
#dinnerItems ul {
	margin: 7px 0 0 0;
	padding: 25px 0 20px 20px;
}
#dinnerItems li {
	background: url(/eCampus/images/mutant/liBGYellow.jpg) repeat-x bottom left;
	display: block;
	height: 11px;
	list-style: none;
	margin: 0;
	padding: 5px 0 5px 10px;
}
#dinnerItems li:hover, li:focus {
	background: url(/eCampus/images/mutant/liBGYellow.jpg) repeat-x bottom left #FAFBF1;
	height: 11px;
}
#dinnerItems a {
	display: block;
	height: 11px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 11px;
	color: #434934;
}	
#dinnerItems .arrow {
	position: absolute;
	right: 4px;
	font-weight: bold;	
}					


/********************
4.) RIGHT COLUMN
*********************/
#rightColumn { /*center image*/
    width: 703px;
	vertical-align: top;	
}
#rcNav IMG {
	border: none;
}
#bannerImage {
	height: 95px;
	margin: 0;
	padding: 0;
}
#greyBar {
	background: #E2E2E2;
	margin: 0;
	padding: 5px 0 5px 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
#greyBar .boldText {
	font-weight: bold;
}
#rcContent {
	background: url(/eCampus/images/mutant/verticalDotsBG.jpg) repeat-y top left;
	width: 703px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}
#rcContentBottom {
	background: url(/eCampus/images/mutant/verticalDotsBG.jpg) repeat-y top left;
	width: 703px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
}
.headerTitle {
	display: block;
	font-family: "Times New Roman", Times, serif;
	font-size: 24px; 
	margin: 15px 0 5px 15px;
	color: #215183;	
}
#locationInfo {
	margin: 0;
}
#locationLogo {
	padding: 8px 0 8px 25px;
}
#locationDetails {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}
#locationDetails p {
	width: 370px;
	margin: 8px 0 8px 15px;
}
.pitch {
	color: #215183;
	font-weight: bold;
}
#hours {
	background: url(/eCampus/images/mutant/verticalDotsBG_sm.jpg) repeat-y top left;		
	width: 33%;
	vertical-align: top;
	padding: 5px 5px 5px 1px;
}
#hours p {
	margin: 0;
	padding: 5px 0 5px 15px;
}
#horizontalDots {
	background: url(/eCampus/images/mutant/horizontalDotsBG.jpg) repeat-x bottom left;	
	height: 8px;
}
#choicesHeader {
	background: url(/eCampus/images/mutant/liBG.jpg) repeat-x bottom left;
}
#midRow {
	background: url(/eCampus/images/mutant/liBG.jpg) repeat-x center left;
	height: 1px;
}
#hasBorder {
	background: url(/eCampus/images/mutant/verticalDotsBG_sm.jpg) repeat-y top left;
	margin:0; 
	padding-left: 10px;
	vertical-align: top;
}
#hasBorder p {
	margin: 0;
	padding: 5px;
}
#menu {
	background: url(/eCampus/images/mutant/verticalDotsBG_sm.jpg) repeat-y top left;
	text-align: right; 
	padding-bottom: 2px;
}
#menu IMG {
	border: none;
}
#topColumn {
	background: url(/eCampus/images/mutant/horizontalDotsBG.jpg) repeat-x bottom left;
	width: 490px;
	padding: 15px;
	vertical-align: top;
}
.rcText {
	margin: 0;
	padding: 5px;
	font-weight: bold;
}
.redText {
	color: #9D0508;
	font-weight: bold;
}
#dottedLines{
	background: url(/eCampus/images/mutant/verticalDotsBG.jpg) repeat-y top left;
	width: 8px;
	padding: 0;
	margin: 0;
}
#farRightColumn {
	vertical-align: top;
	width: 170px;
	padding-top: 5px; 
}
#frColumnTop {
	background: url(/eCampus/images/mutant/horizontalDotsBG_sm.jpg) repeat-x bottom left;
	padding: 0 10px 10px 10px;
	vertical-align: top;
}
#employmentTable {
	padding: 0;
	vertical-align: top;
}
.titleText {
	font-weight: bold;
}
#frColumnMiddle {
	background: url(/eCampus/images/mutant/horizontalDotsBG_sm.jpg) repeat-x bottom left;
	padding: 15px 3px 15px 3px;
	text-align: center;
	vertical-align: middle;
}
#frColumnBottom {
	padding: 5px 10px 5px 10px;
	vertical-align: top;
}
#bottomColumnLeft {
	width: 190px;
	padding: 10px;
	vertical-align: top;
}
#bcBrand {
	text-align: center;
}
#bcP {
	margin: 0;
	padding: 0 15px 0 15px;
}
#bottomColumnRight {
	background: url(/eCampus/images/mutant/verticalDotsBG.jpg) repeat-y top left;
	width: 300px;
	vertical-align: top;
}
#bottomColumnRight IMG{
	margin: 10px 10px 0 15px;
}
#bcRightTable {
	margin: 0;
	padding: 0;
}
#withLine {
	background: url(/eCampus/images/mutant/liBG.jpg) repeat-x bottom left;
}
#exPoint {
	vertical-align: top;
	padding: 0 0 5px 5px;
}
#text {
	padding: 5px 20px 5px 0;
}
#bottomRow {
	background: url(/eCampus/images/mutant/liBG.jpg) repeat-x center left;
	height: 1px;
	margin-bottom: 20px;
}
#blueBar {
	background: #CC9900;
	height: 21px;
}

/********************
5.) ADVERT CONTENT
*********************/

#adBanner {
	height: 72px;
	margin: 0;
	padding: 0;
}
#adBanner IMG {
	border: none;
}

/********************
6.) FOOTER CONTENT
*********************/

#footer {
	height: 20px;
	border-top: 4px solid #000000;
	vertical-align: top;
	padding: 5px 10px 0 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px; 
}
#footer IMG {
	border: none;
}
#p1 {
	text-align: left;
	margin: 0;
	padding: 0;
	color: #434934;
}
.copyright {
	font-size: 10px;
	color: #ADADAD
}
#p2 {
	text-align: right;
	margin: 0;
	padding: 0;
	color: #666666;	
}
#footer a {
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
}
#footer a:hover,a:focus {
	color: #ADADAD;
}


/*Concept Table*/
.menuTxt
{
	text-align:left;
	color:#000000; /*black*/
	font-size:8pt;
	font-family: verdana;
	text-decoration:none;
	padding:5px;
	
}


/*Concept Table Border*/
.menuBorder
{
	border: 1px solid #cccccc; /* light gray*/
	text-align:left;
	color:#000000; /*black*/
	font-size:8pt;
	font-family: verdana;

}
.ConceptTabText
{
  	font-size:8pt;
	font-weight:bold;
	text-decoration:none;
  	color: #000000;
  	font-family: Verdana, Arial, Helvetica, sans-serif; 
}


}
.componentInfo {
	text-align:left;
	font-size:10pt;
	font-weight:bold;
	font-family: Verdana;
	text-decoration:none;
}
}
.menuTxt,.centerText,.welcome,select,.tableTitle,.welcomeHours {
	color:#000000; /*black*/
}
.ConceptTabText
{
  	font-size:8pt;
	font-weight:bold;
	text-decoration:none;
  	color: #000000;
  	font-family: Verdana, Arial, Helvetica, sans-serif; 
}
/* ============================= ACCOUNT/PROFILE PAGES =============================*/
.accountInfoNavigator
{
    	border: solid 3 #cecfce; /*grey*/;
    	padding: 5px;
    	background-color: White;
}

.accountInfoLink
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	color: #000063; /*dark blue */
}

.accountInfoLink:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	color: #9c1821;
}

.accountInfoLink:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #9c1821;
}

.policyHyperLink
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	color: Navy;
}

.policyHyperLink:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: underline;
	color: Navy;
}

.policyHyperLink:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #9c1821;
}




/* ============================= SHOPPING CART PAGES=============================*/
.cartLinkButton
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
    	text-decoration: underline;
	padding-right:20px;
	color: #000063; /*dark blue */
}
.cartLinkButton:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
    	text-decoration: underline;
	padding-right:20px;
	color: #000063; /*dark blue */
}
.manageTitle
{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
    	padding-left: 10px;    
	padding-top: 10px;
	color: #000000; /*black*/;
}
.pageFooterPanel
{
	background-color:#cecfce; /*grey*/;
	width:100%;
	border-style:none;
	border-width:0;
    	padding-top: 5px;
    	padding-left: 5px;
}
.pageFooterText
{
	border-right: 0px;
	padding-right: 0px;
	border-top: 0px;
	padding-left: 0px;
	font-weight: bold;
	font-size: 10px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: 0px;
	color: black;
	padding-top: 0px;
	border-bottom: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.checkoutLink
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	color: Navy;
}
.checkoutLink:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	color: Navy;
}
.checkoutLink:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	padding-left: 5px;
	color:  #9c1821;
}
.addressLink
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	padding-left: 5px;
}
.addressLink:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	padding-left: 5px;
}
.addressTR
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	border-bottom: dotted 1 #cecfce; /*grey*/;
	padding-bottom: 5px;
	padding-top: 5px;
}
.addressTableRow
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	border-bottom: dotted 1 #cecfce; /*grey*/;
	padding-bottom: 5px;
	padding-top: 5px;
}
.cartHeaderLeft
{
	font-size: 14px;
	font-weight: bold;
    	border: solid 3 #cecfce; /*grey*/;
    	background-color: #9c1821;
    	color: White;
    	padding: 3px;
}
.cartHeaderRight
{
    	border-bottom: solid 3 #cecfce; /*grey*/;
    	padding: 3px;
    	height: 30px;
   
}
.checkoutHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
    	border-bottom: solid 3 #cecfce; /*grey*/;
    	background-color: White;
    	color: Navy; 
    	padding: 3px;
}
.checkoutHeaderUnselected
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
    	border: solid 3 #cecfce; /*grey*/;
    	background-color: White;
    	color: Navy; 
    	padding: 3px;
}
.checkoutHeaderSelected
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
    	border: solid 3 #cecfce; /*grey*/;
    	background-color: #9c1821;
    	color: White;
    	padding: 3px;
}
.paymentHeaderCell
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
    	border-left: solid 3 #cecfce; /*grey*/;
    	border-top: solid 12 #cecfce; /*grey*/;
    	border-right: solid 3 #cecfce; /*grey*/;
    	/*background-color: White;*/
}
.paymentLabel
{
    	padding-top: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: Navy;
}
.cartTD
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	border-bottom: dotted 1 #cecfce; /*grey*/;
	padding-bottom: 5px;
	padding-top: 5px;
}
.cartLeftTD
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	border-bottom: dotted 1 #cecfce; /*grey*/;
	padding-bottom: 5px;
	padding-top: 5px;
    	padding-left: 5px;
}
.cartRightTD
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	border-bottom: dotted 1 #cecfce; /*grey*/;
	padding-bottom: 5px;
	padding-top: 5px;
    	padding-right: 5px;
}
.cartQuantity
{
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	text-align: center;
}
.legendCell
{
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}
.billedlegendCell
{
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold; 
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}
.footNoteCell
{
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	border: dotted 1 #cecfce; /*grey*/;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	color: #000063; /*dark blue */;
}
.separatorCell
{
    	height: 5px;
}
.profileTable
{
    	margin-left:10px; 
    	background-color:SeaShell;
}
.profileTable2
{
    	margin-left:10px; 
    	background-color:SeaShell;
}
.profileTable3
{
    	background-color:SeaShell;

}
.bulletHeaderCell
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
    	font-size: 12px;
    	font-weight: bold;
    	color: White;
    	background-color: #9c1821;
   
}
.headerCell
{
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
    	font-size: 12px;
    	font-weight: bold;
    	color: White;
    	padding: 3px;
    	background-color: #9c1821;
    	border-top-style:solid; 
    	border-top-color:#cecfce; /*grey*/; 
    	border-top-width:0px; 
    	border-left-style:solid; 
    	border-left-color:#cecfce; /*grey*/; 
    	border-left-width:1px; 
    	border-right-style:solid; 
    	border-right-color:#cecfce; /*grey*/; 
    	border-right-width:1px;
}
.profileHeaderCell
{
    	border-top-style:solid; 
    	border-top-color:#cecfce; /*grey*/; 
    	border-top-width:12px; 
    	border-left-style:solid; 
    	border-left-color:#cecfce; /*grey*/; 
    	border-left-width:3px; 
    	border-right-style:solid; 
    	border-right-color:#cecfce; /*grey*/; 
    	border-right-width:3px;
}
.profileLeftHeaderCell
{
    	border-top-style:solid; 
    	border-top-color:#cecfce; /*grey*/; 
    	border-top-width:12px; 
    	border-left-style:solid; 
    	border-left-color:#cecfce; /*grey*/; 
    	border-left-width:3px; 
  	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	padding: 3px;
    	font-weight: bold;
	background-color: #9c1821;
	color: White;
}
.profileMiddleHeaderCell
{
    	border-top-style:solid; 
    	border-top-color:#cecfce; /*grey*/; 
    	border-top-width:12px; 
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
    	font-size: 14px;
    	font-weight: bold;
    	background-color: #9c1821;
    	color: White;
    	padding: 3px;
}
.profileRightHeaderCell
{
    	border-top-style:solid; 
    	border-top-color:#cecfce; /*grey*/; 
    	border-top-width:12px;
    	border-right-style:solid; 
    	border-right-color:#cecfce; /*grey*/; 
    	border-right-width:3px; 
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
    	font-size: 14px;
    	font-weight: bold;
    	background-color: #9c1821;
    	color: White;
    	padding: 3px;
}
.profileFooterCell
{
    	border-bottom-style:solid; 
    	border-bottom-color:#cecfce; /*grey*/; 
    	border-bottom-width:12px; 
    	border-left-style:solid; 
    	border-left-color:#cecfce; /*grey*/; 
    	border-left-width:3px; 
    	border-right-style:solid; 
    	border-right-color:#cecfce; /*grey*/; 
    	border-right-width:3px;
}
.profileButton
{
    	width:72px;
    	margin-top:10px;
}
.profileLabelCell
{
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
    	font-size: 12px;
    	font-weight:  normal;	
	color: black;
	vertical-align: middle;
}
.profileCell
{	
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10x;
	padding-left: 10px;    
	padding-right: 10px;
	width:240px;
}
.addressCell
{
	padding-left: 10px;    
	padding-right: 10px;
	width: 240px;
}
.cartCell
{
	padding-left: 10px;    
	padding-right: 10px;
}
.totalCell
{
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	font-weight: bold;
	color: Navy;
	padding: 5px;
}
.cartTotalCell
{
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	color: Navy;
	padding: 5px;    
}
.receiptTotalCell
{
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	color: Navy;
	padding-right: 35px;
	background-color: SeaShell;
	padding-top: 5px;
}
.orderTotalCell
{
    	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 14px;
	color: Navy;
	padding-right: 20px;
	background-color: SeaShell;
	padding-top: 5px;
}
.shipmentTotalCell
{
     	font-family: Verdana, Arial, Helvetica, sans-serif; 
 	font-size: 12px;
     	text-align: left;
 	color: Navy;
 	border-width:1;
 	border-color: Black; 
 	padding-right: 2px;
}
.cartLeftCell
{
	padding-left: 10px;    
	padding-right: 10px;
	padding-top: 10px;
}
.cartDiscountsCell
{
	border-top: solid 2px #cecfce; /*grey*/;
}
.addressDisplayLabel
{
  	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	font-weight: bold;
	color: Navy;
}
.profileFootNote
{
  	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
    	color: Red;
	padding-left: 10px;   
}
.receiptHeader
{
  	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px;
	font-weight: bold;
    	color: Navy;
    	border-bottom: solid 2 #cecfce; /*grey*/;
    	padding-bottom: 5px;
}
.receiptNumber
{
  	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
    	color: Red;
    	padding-top: 5px;
}
.shipmentLabel
{
  	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 16px;
	font-weight: bold;
    	color: Navy;
    	background-color: White;
    	padding-bottom: 3px;
}
.requiredSymbol
{
    FONT-SIZE: 16px;
    COLOR: red
}
.htmlPlaceholderCell
{
    	padding-left: 20px;
    	padding-top: 20px;
 	font-weight: normal;
}
.policyPlaceholder
{
 	font-weight:  normal;
 	font-size:   12px;
 	text-align: left;
 	padding-top: 150px;
}
.defaultConsoleCell
{
    	padding-top: 20px;
    	padding-left: 20px;
    	width: 300px;
}
.clientArea
{
	background-color:white;
	color:black;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	border-style:none;
	border-width:0;	
}
.ProductDisplay
{
	background-color:white;
	color:Black;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight:normal;
	border-bottom: solid 4px #cecfce; /*grey*/;
	padding-bottom: 20px;
}
.ProductText
{
	font-size: 12px;
	color: black;
	font-weight:normal;
}
.ProductDescription
{
	background-color:white;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	border-style:none;
	border-width:0;
	
	margin:0 0 0 0;
}
.ProductName
{
	background-color:white;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	border-style:none;
	font-weight: bold;
	border-width:0;	
	
	margin:0 0 0 0;
}
.ProductNameLink
{
	background-color:white;
	color: #000063; /*dark blue */;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	border-style:none;
	border-width:0;	
	
	margin:0 0 0 0;
}
.ProductNameLink:active
{
	background-color:white;
	color: #000063; /*dark blue */;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	border-style:none;
	border-width:0;	
	
	margin:0 0 0 0;
}
.descriptionPanel
{
	background-color:white;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	height: 10px;
	width:100%;
	border-style:none;
	border-width:0;
    	padding-left: 20px;
}
.productImage
{
	border-right: #cecfce; /*grey*/ 1px solid;
	padding-right: 8px;
	border-top: #cecfce; /*grey*/ 1px solid;
	padding-left: 8px;
	padding-bottom: 8px;
	margin: 8px;
	border-left: #cecfce; /*grey*/ 1px solid;
	padding-top: 8px;
	border-bottom: #cecfce; /*grey*/ 1px solid;
}
.lineBreak
{
    	color: #cecfce; /*grey*/;
}
.targetedContentHyperLink
{
    	font-family: Verdana, Arial, Helvetica, sans-serif;
    	font-size: 12px;
    	font-weight: bold;
    	color: steelblue;
    	text-decoration: underline;
    	padding-left: 20px;
}
.targetedContentHyperLink:active
{
    	font-family: Verdana, Arial, Helvetica, sans-serif;
    	font-size: 11px;
    	font-weight: bold;
    	color: steelblue;
    	text-decoration: underline;
    	padding-left: 20px;
}
.errorMessageLiteral
{
    	color: Red;
    	font-size: 12px;
    	padding-top:10px;
    	padding-left:10px;
    	padding-bottom:10px;
}
.productVariantsNavigatorTd
{
    	background-color: #cecfce; /*grey*/;
    	padding: 3px;
}
.productVariantsNavigatorLabel
{
    	font-family: Verdana, Arial, Helvetica, sans-serif;
    	font-size: 11px;
    	font-weight: bold;
    	padding-right: 20px;
    	width: 120px;
}
.productVariantsNavigatorSpan
{
    	font-family: Verdana, Arial, Helvetica, sans-serif;
    	font-size: 12px;
    	width: 150px;
}
.productVariantsNavigatorSelect
{
    	width: 150px;
}
.productVariantsNavigatorResetButton
{
    	width: 72px;
    	margin-left:20px;
}
.currencySelectorLabel
{
	padding-right: 10px;
	font-size: 12px
}
.currencySelectorDropDownList
{
	width: 100px;
}
.genericDialog
{
	background-color:SeaShell;
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight: bold;
	color:white;
	border-style:solid;
	border-width:1;
	border-color:#cecfce; /*grey*/;
	
}
.errorMesg
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: bold; 
	color: red;
	background-color:SeaShell;
	border-style:none;
	border-width:0;
	
	margin:0 0 0 0;
}
.searchErrorMesg
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: bold; 
	color: red;
	background-color:#cecfce; /*grey*/;
	border-style:none;
	border-width:0;
	
	margin:0 0 0 0;
}
.searchResultsTitle
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: bold; 
	color: blue;
}
.searchResultsDescription
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight:normal;
	color: black;
}
.searchResultsTD
{
	padding-left: 7px;
}
.breadCrumbsItem
{
	background-color:white;
	color: #66CC33;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px;
	border-style:none;
	border-width:0;	
	
	margin:0 0 0 0;
}
.breadCrumbsItem:active
{
	background-color:white;
	color: #66CC33;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px;
	border-style:none;
	border-width:0;	
	
	margin:0 0 0 0;
}
.breadCrumbsItem:hover
{
	background-color:white;
	color: #66CC33;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px;
	border-style:none;
	border-width:0;	
	
	margin:0 0 0 0;
}
.breadCrumbsItem:visited
{
	background-color:white;
	color: #66CC33;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px;
	border-style:none;
	border-width:0;	
	
	margin:0 0 0 0;
}
.breadCrumbsSeparator
{
	background-color:white;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 18px;
	border-style:none;
	border-width:0;	
	
	margin:0 0 0 0;
}
.hiddenTextBox
{
	width: 0%;
}
.pageHeaderLabel
{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10pt;
	font-weight: bold;
	color:#FFFF99;
	border-style:none;
	border-width:0;
 	
	margin:0 0 0 0;
	background-color:#9c1821;
}
.footerNav 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	align:center;
	font-size:8pt;
	font-weight:bold;
	text-decoration:none;
}



}
.cartTableCell 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	align:center;
	font-size:10pt;
	font-weight:normal;
	text-decoration:none;

}
.label 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	align:center;
	font-size:10pt;
	font-weight:normal;
	text-decoration:none;
}
}
.rowOff
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	align:center;
	font-size:10pt;
	font-weight:normal;
	text-decoration:none;
}
.totals 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	align:center;
	font-size:10pt;
	font-weight:normal;
	text-decoration:none;
}
.SiteOptionMultiSelect 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	align:center;
	font-size:10pt;
	font-weight:normal;
	text-decoration:none;
}
.SiteOptionNonMultiSelect 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;	
	align:center;
	font-size:10pt;
	font-weight:normal;
	text-decoration:none;
}
